<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linh.runtimepermission">
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <application>
        <activity
            android:name=".screen.RequestRuntimePermissionActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
        </activity>
    </application>

</manifest>